@mixin dyke-gradient {
    padding-bottom:10px;
    background: 
      linear-gradient(
        to right, 
        $rgba-light-brown 0%,
        $rgba-orange 22%,
        $rgba-light-orange 47%,
        $rgba-light-pink 67%,
        $rgba-dark-pink 100%
      )
      left 
      bottom
      $brown    
      no-repeat; 
    background-size: 200px 7px ;
    background-position: bottom center;
}
@mixin dyke-gradient-border {
  background: 
    linear-gradient(
      to bottom, 
      $rgba-light-brown 0%,
      $rgba-orange 22%,
      $rgba-light-orange 47%,
      $rgba-light-pink 67%,
      $rgba-dark-pink 100%
    )
    left 
    bottom
    $brown    
    no-repeat; 
}
@mixin page-header {
    h1 {
      border-bottom: 3px solid $light-orange;
      color: $light-pink;
      margin-bottom: 20px;
      text-transform: lowercase;
      text-align: center;
  }
}